<form method="POST" action="/articles">
    <label for="title">Title</label>
    <input type="text" name="title" id="title">
    <label for="author">Author</label>
    <input type="text" name="author" id="author">
    <label for="body">Body</label>
    <input type="text" name="body" id="body">
    <input type="submit" value="Submit to Add">
</form>