<form method="POST" action="/products">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <label for="price">Price</label>
    <input type="text" name="price" id="price">
    <label for="inventory">Inventory</label>
    <input type="text" name="inventory" id="inventory">
    <input type="submit" value="Submit to Add">
</form>
{{!-- <h1 id="editProduct">Edit Product</h1>
<form action="/products/" method="POST">
    {{title}}
    <div>
        <h3>Editing: {{name}} </h3>
    </div>
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
    </div>
    <div>
        <label for="price">Price</label>
        <input type="text" name="price" id="price">
    </div>
    <div>
        <label for="inventory">Inventory</label>
        <input type="text" name="inventory" id="inventory">
    </div>
    <div>
        <button>Finished Editing</button>
    </div>
</form>
<form action="/products" method="GET">
    <div>
        <button>Go Back to Products</button>
    </div>
</form>
<form action="/products/{{id}}/delete" method="GET">
    <div>
        <button type="submit">Delete Product</button>
    </div>
</form> --}}