<h1>PRODUCTS</h1>
<ul class="products_list">
    {{#each products}}
    <h3>{{this.name}}</h3>
    <li>{{this.price}}</li>
    <li>{{this.inventory}}</li>
    {{/each}}

    {{> newproducts }}
    {{> deleteproducts }}
</ul>